#heading-row {
    margin-bottom: 2.5em;
}

#policy-input {
    text-align: center;
}

#dropdown-menu-btn {
    display: inline-block;
    min-width: 5em;
}

#selected-policy {
    display: flex;
}

#policy-row {
    margin-top: 2.5em
}

#selected-policy-text {
    max-height: 200px;
    overflow-y: auto;
    position: relative;
}


.goal-container {
    /*padding: 10px;*/
    min-width: 50vw;
    display: flex;
    justify-content: space-between;
}

#goal-list {
    margin: 1.5em 0;
}

.remove-goal, .info-icon {
    cursor: pointer;
}

i {
    color: var(--bs-gray-500);
}

#goal-header {
    display: flex;
    gap: .5em;
}

.info-icon {
    margin-right: 0.5em;
}

.remove-goal:hover {
    color: var(--bs-danger);
    cursor: pointer;
}

.info-icon:hover, #goal-suggest:hover {
    color: var(--bs-primary);
    cursor: pointer;
}
