.goal-container {
    min-width: auto;
    display: block;
}

#selected-policy-text {
    max-height: 500px;
    overflow-y: auto;
    position: relative;
}

#selected-policy {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 5em;
    z-index: 1000; /* Ensure it stays above other content */
    margin-top: 1em;
}

.quote-holder {
    display: flex;
    cursor: pointer;
}

.quote-holder .quote-icon {
    padding: 0 10px 10px 10px;
    font-size: x-large;
}

.quote-icon:hover {
    color: var(--bs-primary);
    cursor: pointer;
}

.bi-pencil-square:hover {
    color: var(--bs-primary);
    cursor: pointer;
}

.highlight {
    background-color: yellow;
}

.quote {
    color: var(--bs-gray-700);
    font-size: 15px;
}

.list-group {
    max-height: 500px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
}

#summary-row {
    margin-top: 1.5em;
    margin-bottom: 1.25em;
}

#summary-row .card-body i {
    font-size: 2rem;
}


#summary-row .card-body {
    display: block;
}

.goal-header-row {
    display: flex;
    align-items: center;
    gap: .25em;
}

.goal-breakdown-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#breakdown {
    margin-bottom: 3em;
}


.card-not-met {
    background-color: var(--bs-danger-bg-subtle);
    border-color: var(--bs-danger-border-subtle);
    color: var(--bs-danger-text-emphasis);
}

.card-not-met i {
    color: var(--bs-danger);
}

.card-partially-met {
    background-color: var(--bs-warning-bg-subtle);
    border-color: var(--bs-warning-border-subtle);
    color: var(--bs-warning-text-emphasis);
}

.card-partially-met i {
    color: var(--bs-warning);
}

.card-completely-met {
    background-color: var(--bs-success-bg-subtle);
    border-color: var(--bs-success-border-subtle);
    color: var(--bs-success-text-emphasis);
}

.card-completely-met i {
    color: var(--bs-success);
}

.card .h3 {
    color: var(--bs-body-color);
    padding: .15em .25em 0 0
}

.bold {
    font-weight: bold;
}

.card.goal-danger {
    border: var(--bs-card-border-width) solid var(--bs-danger-border-subtle);
}

.card.goal-warning {
    border: var(--bs-card-border-width) solid var(--bs-warning-border-subtle);
}

.card.goal-success {
    border: var(--bs-card-border-width) solid var(--bs-success-border-subtle);
}


#privacy-goals-list {
    margin: 1em 0
}