{% extends "layout.html" %}

{% block content %}
<!-- Your content goes here -->
<div class="row justify-content-center">
    <div id="heading-row" class="col-12 text-center">
        <h1 id="policy-input-header">Evaluate privacy tradeoffs with ease.</h1>
        <div class="subtitle">Select a privacy policy to learn more about potential risks.</div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <div id='policy-input' class="dropdown">
            <button id="dropdown-menu-btn" class="btn btn-lg btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Choose...
            </button>
            <ul class="dropdown-menu">
                {% for policy in dropdown_options %}
                <li><a class="dropdown-item" href="#">{{ policy }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}